body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #F5F5F5;
}

#root {
  margin: 0 auto;
  width: 800px;
  padding-top: 112px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-end {
  align-items: flex-end;
}